<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>BoardServlet</servlet-name>
  	<display-name>BoardServlet</display-name>
  	<description></description>
  	<servlet-class>server.web.BoardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>server.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrdersServlet</servlet-name>
  	<display-name>OrdersServlet</display-name>
  	<description></description>
  	<servlet-class>server.web.OrdersServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PositionsServlet</servlet-name>
  	<display-name>PositionsServlet</display-name>
  	<description></description>
  	<servlet-class>server.web.PositionsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SymbolNameServlet</servlet-name>
  	<display-name>SymbolNameServlet</display-name>
  	<description></description>
  	<servlet-class>server.web.SymbolNameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VersionServlet</servlet-name>
  	<display-name>VersionServlet</display-name>
  	<description></description>
  	<servlet-class>server.web.VersionServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BoardServlet</servlet-name>
  	<url-pattern>/board</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrdersServlet</servlet-name>
  	<url-pattern>/orders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PositionsServlet</servlet-name>
  	<url-pattern>/positions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SymbolNameServlet</servlet-name>
  	<url-pattern>/symbolName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VersionServlet</servlet-name>
  	<url-pattern>/version</url-pattern>
  </servlet-mapping>
</web-app>
